@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,600&family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,300;1,8..144,100&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

@media screen and (min-width: 320px) {
  .bgColor {
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .bgColor .logoNavbar {
      width: 4em;
      height: 4em;
      transform: rotate(-90deg); }
    .bgColor .navbarLinks {
      color: #797979;
      font-size: 1.5em;
      text-decoration: none; }
      .bgColor .navbarLinks:hover {
        color: black; }
    .bgColor .navbarLinkContact:hover {
      color: #e99536;
      font-weight: 500; }
    .bgColor .bgDropdownMenu {
      background-color: rgba(208, 216, 215, 0.3);
      border-radius: 1em;
      border-top: transparent;
      border-left: transparent;
      width: 50%; }
      .bgColor .bgDropdownMenu a {
        color: black;
        font-size: 1.5em;
        text-decoration: none; }
        .bgColor .bgDropdownMenu a:hover {
          color: black;
          background-color: rgba(95, 95, 95, 0.5); } }

@media screen and (min-width: 600px) {
  .bgColor {
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .bgColor .navbarLinks {
      color: black;
      font-size: 1.5em;
      text-decoration: none; } }

@media screen and (min-width: 992px) {
  .bgColor {
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .bgColor .navbarLinks {
      color: black;
      font-size: 1.5em;
      text-decoration: none;
      padding-left: 1.5em; } }

footer {
  background-color: transparent; }
  footer .redesSociales {
    width: 80vw;
    border-radius: 1em;
    margin: auto;
    align-content: center;
    display: flex;
    flex-flow: row column;
    box-shadow: 1px #999999;
    justify-content: space-around;
    border-top: solid 1px rgba(121, 121, 121, 0.3); }
    footer .redesSociales a {
      text-decoration: none;
      font-size: 2.5em;
      color: white; }
      footer .redesSociales a:hover {
        color: blue; }

@media screen and (min-width: 320px) {
  .bgInicio {
    background-image: url(../assets/caleufu.svg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center; }
    .bgInicio main {
      height: 80vh; }
    .bgInicio .title {
      width: 90%;
      margin: auto;
      padding-top: 8em; }
      .bgInicio .title h1 {
        font-size: 1.3em;
        width: fit-content;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        color: black;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        margin: auto; }
      .bgInicio .title h2 {
        padding-top: 0.5em;
        font-weight: 300;
        font-size: 1em;
        color: #222222;
        text-align: center;
        font-family: 'Roboto Serif', serif; }
      .bgInicio .title h3 {
        font-size: 1em;
        color: black;
        text-align: center;
        font-family: 'Roboto Flex', sans-serif; } }

@media screen and (min-width: 600px) {
  .bgInicio {
    background-image: url(../assets/libertad.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center; }
    .bgInicio main {
      height: 80vh; }
    .bgInicio .title {
      width: 90%;
      margin: auto;
      padding-top: 15em; }
      .bgInicio .title h1 {
        font-size: 2.3em;
        color: black;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-weight: 200; }
      .bgInicio .title h2 {
        font-size: 1.2em;
        color: #222222;
        text-align: center;
        font-family: 'Roboto Serif', serif; }
      .bgInicio .title h3 {
        font-size: 1.2em;
        color: black;
        text-align: center;
        font-family: 'Roboto Flex', sans-serif;
        font-weight: 100; } }

@media screen and (min-width: 720px) {
  .bgInicio {
    background-image: url(../assets/libertad.png);
    background-repeat: no-repeatgi;
    height: 100vh;
    background-size: cover;
    background-position: center; }
    .bgInicio main {
      height: 80vh; }
    .bgInicio .title {
      width: 90%;
      margin: auto;
      padding-top: 15em; }
      .bgInicio .title h1 {
        font-size: 3em;
        color: black;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-weight: 200; }
      .bgInicio .title h2 {
        font-size: 1.5em;
        color: #222222;
        text-align: center;
        font-family: 'Roboto Serif', serif; }
      .bgInicio .title h3 {
        font-size: 1.5em;
        color: black;
        text-align: center;
        font-family: 'Roboto Flex', sans-serif;
        font-weight: 100; } }

.bgPaisaje {
  background-image: linear-gradient(15deg, #13547a 0%, #4eabc7 100%); }
  .bgPaisaje .paisajeTitle {
    font-size: 3em;
    text-align: center;
    padding: 0.4em;
    padding-bottom: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: #ffc773; }
  .bgPaisaje .paisajeSubTitle {
    font-size: 1.9em;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-bottom: 1em; }
  .bgPaisaje .paisajeGaleriaContainer {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    width: 95vw;
    margin: auto;
    margin-bottom: 1em; }
    .bgPaisaje .paisajeGaleriaContainer a {
      display: block;
      position: relative;
      overflow: hidden;
      box-shadow: 0 0 5px black; }
      .bgPaisaje .paisajeGaleriaContainer a img {
        width: 100%;
        vertical-align: top;
        height: 500px;
        object-fit: cover; }
  .bgPaisaje .lightbox {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(66, 66, 66, 0.5);
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: transform .3s ease-in-out; }
    .bgPaisaje .lightbox:target {
      transform: scale(1); }
    .bgPaisaje .lightbox .img-description {
      width: auto;
      height: 95%;
      margin: auto;
      display: flex;
      flex-flow: row wrap;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: .5em; }
      .bgPaisaje .lightbox .img-description img {
        width: auto;
        height: 90%;
        margin: auto;
        object-fit: cover;
        padding: 0.5em;
        border-radius: 0.2em; }
      .bgPaisaje .lightbox .img-description .descriptionContainer {
        border-radius: 0.5em;
        width: 100%; }
        .bgPaisaje .lightbox .img-description .descriptionContainer .description {
          background-color: #868686;
          display: flex;
          flex-flow: column wrap;
          width: fit-content;
          margin: auto;
          border-radius: 0.5em;
          padding: .3em; }
          .bgPaisaje .lightbox .img-description .descriptionContainer .description h6 {
            text-align: center;
            font-size: 2em;
            color: white; }
          .bgPaisaje .lightbox .img-description .descriptionContainer .description p {
            color: white;
            text-align: center; }
    .bgPaisaje .lightbox .close {
      display: block;
      position: absolute;
      background-color: #851919;
      top: 1%;
      right: 1%;
      text-decoration: none;
      color: white;
      border-radius: 50%;
      width: 3em;
      height: 3em;
      line-height: 3em;
      text-align: center; }
    .bgPaisaje .lightbox .arrow {
      display: block;
      background: #851919;
      color: white;
      height: 3em;
      width: 3em;
      line-height: 3em;
      text-align: center;
      align-self: center; }
