// MOBILE 320PX-480PX
@media screen and (min-width: 320px)    {
    .bgColor{
        background-color: transparent;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
        .logoNavbar{
            width: 4em;
            height: 4em;
            transform: rotate(-90deg);
        }
        // .navbarModifier{
        //     display: flex;
        //     flex-flow: row wrap;
        .navbarLinks{
            color: rgb(121, 121, 121);
            font-size: 1.5em;
            text-decoration: none;
            // padding-left: 1.2em;
            &:hover{
                color: black;
            }
        }
        .navbarLinkContact{
            &:hover{
                color: rgb(233, 149, 54);
                font-weight: 500;
            }
        }
        .bgDropdownMenu{
        background-color: rgba($color: #d0d8d7, $alpha: 0.3);
            border-radius: 1em;
            border-top: transparent;
            border-left: transparent;
            width: 50%;
            a{
                color: black;
            font-size: 1.5em;
            text-decoration: none;
            &:hover{
                color: black;
                background-color: rgba($color: #5f5f5f, $alpha: 0.5)
            }
            }
        }
    }
    
}
@media screen and (min-width: 600px) {
    .bgColor{
        background-color: transparent;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    .navbarLinks{
        color: rgb(0, 0, 0);
        font-size: 1.5em;
        text-decoration: none;
    }
    }
}
@media screen and (min-width: 992px){
    .bgColor{
        background-color: transparent;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    .navbarLinks{
        color: rgb(0, 0, 0);
        font-size: 1.5em;
        text-decoration: none;
        padding-left: 1.5em;
    }
    }
}
