@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,600&family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,300;1,8..144,100&display=swap');
@media screen and (min-width: 320px){
.bgInicio{
    background-image: url(../assets/caleufu.svg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    main{
        height: 80vh;
        
    }
.title{
    width: 90%;
    margin: auto;
    padding-top: 8em;
    

    h1{
        font-size: 1.3em;
        width: fit-content;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
        color: black;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        margin: auto;
    }
    
    h2{
        padding-top: 0.5em;
        font-weight: 300;
        font-size: 1em;
        color: rgb(34, 34, 34);
        text-align: center;
        font-family: 'Roboto Serif', serif;

        
    }
    h3{
        font-size: 1em;
        color: black;
        text-align: center;
        font-family: 'Roboto Flex', sans-serif;
    }
}
}
}
@media screen and (min-width: 600px){
    .bgInicio{
        background-image: url(../assets/libertad.png);
        height: 100vh;
        background-size: cover;
        background-position: center;
        main{
            height: 80vh;
        }
        .title{
            width: 90%;
            margin: auto;
            padding-top:15em;
            h1{
                font-size: 2.3em;
                color: black;
                text-align: center;
                font-family: 'Poppins', sans-serif;
                font-weight: 200;
            }
            h2{
                font-size: 1.2em;
                color: rgb(34, 34, 34);
                text-align: center;
                font-family: 'Roboto Serif', serif;
        
                
            }
            h3{
                font-size: 1.2em;
                color: black;
                text-align: center;
                font-family: 'Roboto Flex', sans-serif;
                font-weight: 100;
            }

        }
    }
    
}
@media screen and (min-width: 720px){
    .bgInicio{
        background-image: url(../assets/libertad.png);
        height: 100vh;
        background-size: cover;
        background-position: center;
        main{
            height: 80vh;
        }
        .title{
            width: 90%;
            margin: auto;
            padding-top:15em;
            h1{
                font-size: 3em;
                color: black;
                text-align: center;
                font-family: 'Poppins', sans-serif;
                font-weight: 200;
            }
            h2{
                font-size: 1.5em;
                color: rgb(34, 34, 34);
                text-align: center;
                font-family: 'Roboto Serif', serif;
        
                
            }
            h3{
                font-size: 1.5em;
                color: black;
                text-align: center;
                font-family: 'Roboto Flex', sans-serif;
                font-weight: 100;
            }

        }
    }
    
}
