.bgPaisaje{
    background-image: linear-gradient(15deg, #13547a 0%, #4eabc7 100%);
    .paisajeTitle {
    font-size: 3em;
    text-align: center;
    padding: 0.4em;
    padding-bottom: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}
.paisajeSubTitle {
    font-size: 1.9em;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-bottom: 1em;
}

.paisajeGaleriaContainer {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    // padding: 
    width: 95vw;
    margin: auto;
    margin-bottom: 1em;

    a {
        display: block;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 5px rgba($color: #000000, $alpha: 1.0);

        img {
            width: 100%;
            vertical-align: top;
            height: 500px;
            object-fit: cover;
        }
    }
}
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba($color: #424242, $alpha: .5);
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: transform .3s ease-in-out;


    &:target {
        transform: scale(1);
    }

    .img-description {
        width: auto;
        height: 95%;
        margin: auto;
        display: flex;
        flex-flow: row wrap;
        background-color: rgba($color: #000000, $alpha: 0.5);
        border-radius: .5em;

        img {
            width: auto;
            height: 90%;
            margin: auto;
            object-fit: cover;
            padding: 0.5em;
            border-radius: 0.2em;
        }

        .descriptionContainer {
            border-radius: 0.5em;
            width: 100%;
            .description{
            background-color: rgba($color: #868686, $alpha: 1.0);
                display: flex;
                flex-flow: column wrap;
                width: fit-content;
                margin: auto;
                border-radius: 0.5em;
                padding: .3em;
            h6 {
                text-align: center;
                font-size: 2em;
                color: white;
            }

            p {
                // padding: 1em;
                color: white;
                text-align: center;
            }
        }
    }
    }

    .close {
        display: block;
        position: absolute;
        background-color: #851919;
        top: 1%;
        right: 1%;
        text-decoration: none;
        color: rgb(255, 255, 255);
        border-radius: 50%;
        width: 3em;
        height: 3em;
        line-height: 3em;
        text-align: center;
    }

    .arrow{
        display: block;
        background: #851919;
        color: white;
        height: 3em;
        width: 3em;
        line-height: 3em;
        text-align: center;
        align-self: center;
    }
}
}